h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    margin: auto;
    border: 3px double;
    border-collapse: collapse;
}
th {
    background-color: lightgrey;
    border: 4px ridge;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width:80px;
    height: 50px;
}
td {
    text-align: center;
    border-style: solid;
    border-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width:60px;
    height: 50px;
}
.m08 {
    background-color: aquamarine;
    color: seagreen;
}
.m07 {
    background-color: lightskyblue;
    color: darkcyan;
}
.m04 {
    background-color: blanchedalmond;
    color: coral;
}
.m06 {
    background-color: lightgoldenrodyellow;
    color: goldenrod;
}
.tut {
    background-color: burlywood;
    color: brown;
}
.m12 {
    background-color: lightsteelblue;
    color: slateblue;
}